html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
}

.navbar-brand {
    text-shadow: 1px 1px #d9534f;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.jumbotron {
    background-image: url("../img/newspapers.jpg");
    font-family: 'Expletus Sans', cursive;
    text-shadow: 1px 2px #d9534f;
    position: relative;
    width: 100%;
    height: 700px;
}

.jumbotron .overlay {
    position: absolute;
    z-index: auto;
    opacity: 0.7;
}

.bootbox-body .btn {
    float: right;
    margin: 5px;
}

.note.list-group-item .btn {
    position: relative;
    bottom: 10px;
}